<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="../node_modules/semantic-ui-calendar/dist/calendar.min.css" />
		
		<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="../semantic/dist/semantic.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script type="text/javascript" src="../node_modules/semantic-ui-calendar/dist/calendar.min.js"></script>
		<script src="index.js"></script>
		<title>To-Do - Edit Task</title>
	</head>
	
	<body id="body">
		<div id="nav" class="ui left sidebar inverted vertical menu"></div>
		<div class="pusher">
			<div class="ui menu">
				<button @click="menuToggle" class="ui item horizontal animated basic button">
					<div class="hidden content">
						<i class="chevron right icon"></i>
					</div>
					<div class="visible content">
						Menu
					</div>
				</button>
				<div class="ui item header">To-Do</div>
				<div class="ui right aligned item">
					<div class="ui breadcrumb">
						<div class="section">App</div>
						<i class="right angle icon divider"></i>
						<a href="../manage" class="section">Manage</a>
						<i class="right angle icon divider"></i>
						<a href="../select_edit" class="section">Edit</a>
						<i class="right angle icon divider"></i>
						<div class="active section">Task</div>
					</div>
				</div>
			</div>
			
			<div class="ui center aligned grid">
				<div class="twelve wide column">
					<div class="ui segment">
						<div class="ui form">
							<div class="ui field">
								<label>Title</label>
								<div class="ui left icon input">
									<input id="title" v-model="task.title"></input>
									<i class="heading icon"></i>
								</div>
							</div>
							
							<div class="ui field">
								<label>Description</label>
								<textarea v-model="task.desc"></textarea>
							</div>
							
							<div class="ui field">
								<label>Date</label>
								<div class="ui calendar">
									<div class="ui input left icon">
										<i class="calendar icon"></i>
										<input type="text" placeholder="Date" :value="task.date">
									</div>
								</div>
							</div>
							
							<div class="ui field">
								<label>Repeat</label>
								<div class="ui selection dropdown">
									<input type="hidden" id="repeat" v-model="task.repeat">
									<i class="dropdown icon"></i>
									<div class="default text">Repeat</div>
									<div class="menu">
										<div class="item" data-value="1">Once</div>
										<div class="item" data-value="2">Weekly</div>
										<div class="item" data-value="3">Monthly</div>
										<div class="item" data-value="4">Annually</div>
									</div>
								</div>
							</div>
							
							<a @click="del" class="ui vertical animated red button">
								<div class="visible content">Delete</div>
								<div class="hidden content">
									<i class="trash icon"></i>
								</div>
							</a>
							
							<a href="../select_edit" class="ui vertical animated button">
								<div class="visible content">Cancel</div>
								<div class="hidden content">
									<i class="times icon"></i>
								</div>
							</a>
							
							<div @click="update" class="ui vertical animated primary button">
								<div class="visible content">Save</div>
								<div class="hidden content">
									<i class="save icon"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

